/* css初始化 */
body,h1,h2,h3,h4,h5,h6,ul,li,p,span,dl,dt,dd{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #a4a4a4;
}
li{
	list-style: none;
}
body,h1,h2,h3,h4,h5,h6{
	font-size: 12px;
	font-weight: 400;
	font-family: "微软雅黑";
}
.fl{
	float: left;
}
.fr{
	float:right;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear:both;
}
.w{
	width: 1200px;
	margin:0 auto;
}